.login-form-element {
    position: relative;
}
.login-form-element input {
    padding-left: 30px;
}
.login-form-element i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.user-info-top
{
    margin-top: 30px;
}
.submenu-content
{
    margin-top: -80px;
}