<ul>
<md-list>

<md-list-item><li>It is mandatory to fill all the columns.</li></md-list-item>
<md-list-item><li>Please do not assume that every work suggested by citizens is included in the budget. It depends on the technical and legal formalities. Also the priority of work to be included in the budget is decided only after discussions with groups of citizens and approval of the prabhag samiti.
</li></md-list-item>
<md-list-item><li>Arrange the proposed work in detailed manner (e.g. place/location, description and nature of work to be done etc). Attach photographs, graphs etc wherever required.</li></md-list-item>
<md-list-item><li>Suggestions should be prabhag (electoral ward) specific and not city specific. The proposed works should be such that it can be implemented by the ward office.</li></md-list-item>
<md-list-item><li>The cost of every work proposed should be approximately Rs. 10 lakhs. Please refer to the rate card of works given on the website.
</li></md-list-item>
<md-list-item><li>The following type of works shall be included:
Street lights, water supply, bus stop (as recommended by PMPML), Gardens and Parks (only repair works), Buildings (only repair works), public toilets, street lights (Road and vehicle management), roads (only re-macadamisation).</li></md-list-item>
<md-list-item><li>The following type of works shall not be included: Skywalks, (notified as illegal by Supreme Court of India) Speed breakers, (new construction) construction on privately owned lands.
</li></md-list-item>
<md-list-item><li>Please avoid giving suggestions on the topics which do not require any monetary provision. (e.g. recruitment of employees, cleanliness, minor repair works etc)</li></md-list-item>


<md-list-item>	<li>Last date for submission of the form is 30th October, 2015. The form received post the last date will not be taken into consideration.</md-list-item>

</md-list>
</ul>