<div class="back-container">
<md-content>
    <md-toolbar>
        <h2 class="md-toolbar-tools">
           <span flex="5" class="accent">
               <img src="images/corporation_logo.gif" height="50" width="50">
           </span>
            <span flex="75"> Participatory Budgeting  | <small>Pune Municipal Corporation</small>  </span>
        </h2>

    </md-toolbar>
</md-content>

<div>


    <div layout="column" layout-wrap hide-sm layout-align="center center">
        <p class="md-display-1" style="color:whitesmoke;   text-shadow: 0.3px 0.3px 3px #FFFFFF;">
            Let's make our city awesome again, through citizen participation!
        </p>
    </div>


    <div layout="row"  layout-sm="row" layout-wrap layout-align="center center">
        <div flex="15" flex-sm="0"></div>


        <div flex-sm="100" flex="30">

            <md-card layout-align="center center">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <h3>Registration</h3>
                    </div>
                </md-toolbar>
                <md-card-content class="md-padding">
                    <form name="registrationForm" novalidate>

                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Full Name</label>
                            <md-icon><i class="material-icons">face</i></md-icon>
                            <md-tooltip md-direction="right">
                                e.g. John Doe
                            </md-tooltip>
                            <input required name="name" type="text" ng-model="new_user.name">

                            <div ng-messages="registrationForm.name.$error">
                                <div ng-show="(!new_user.name.$valid) && (new_user.name.$dirty || submitedRegistration)">
                                    <div ng-message="required" ng-show="registrationForm.name.$error.required">
                                        Required.</div>
                                </div>
                            </div>

                            <div class="errors" ng-show="new_user.errors.name">
                                                <span ng-repeat="error in new_user.errors.name">
                                                    {{error}}
                                                </span>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Email</label>
                            <md-icon><i class="material-icons">email</i></md-icon>
                            <md-tooltip md-direction="right">
                                e.g. abc@gmail.com
                            </md-tooltip>
                            <input required name="email" type="email" ng-model="new_user.email">

                            <div ng-messages="registrationForm.email.$error">
                                <div ng-show="(!new_user.email.$valid) && (new_user.email.$dirty || submitedRegistration)">
                                    <div ng-message="required" ng-show="registrationForm.email.$error.required">
                                        Required.</div>
                                    <div ng-message="email" ng-show="registrationForm.email.$error.email">
                                            Invalid Email ID.</div>
                                        </div>
                                    </div>


                            <div class="errors" ng-show="new_user.errors.email">
                                                <span ng-repeat="error in new_user.errors.email">
                                                    {{error}}
                                                </span>
                            </div>


                        </md-input-container>

                        <md-input-container class="md-icon-float" >
                            <!-- Use floating label instead of placeholder -->
                            <label>Password</label>
                            <md-icon><i class="material-icons">vpn_key</i></md-icon>
                            <md-tooltip md-direction="right">
                                e.g. RandomComplexity
                            </md-tooltip>
                            <input required name="password" type="password" ng-model="new_user.password">

                            <div ng-messages="registrationForm.email.$error">
                                <div ng-show="(!new_user.password.$valid) && (new_user.password.$dirty || submitedRegistration)">
                                    <div ng-message="required" ng-show="registrationForm.password.$error.required">
                                        Required.</div>
                                </div>
                            </div>
                            <div class="errors" ng-show="new_user.errors.email">
                                                <span ng-repeat="error in new_user.errors.password">
                                                    {{error}}
                                                </span>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <md-button class="md-raised md-accent" ng-click="register(registrationForm)">Register</md-button>
                        </md-input-container>
                    </form>
                </md-card-content>
            </md-card>

        </div>
        <div hide-sm  flex-sm="0" flex="10"></div>
        <div flex-sm="100" flex="30">
            <md-card layout-align="center center">
                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools">
                        <h3>Login</h3>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <form name="loginForm" novalidate>
                        <md-input-container class="md-icon-float">
                            <label>Email</label>
                            <md-icon><i class="material-icons">email</i> </md-icon>
                            <input required name="email" type="email" ng-model="user.email">

                            <div ng-messages="loginForm.email.$error">
                                <div ng-show="(!loginForm.email.$valid) && (loginForm.email.$dirty || submitedLogin)">
                                    <div ng-message="required" ng-show="loginForm.email.$error.required">
                                        Required.</div>
                                    <div ng-message="email" ng-show="loginForm.email.$error.email">
                                        Invalid Email ID.</div>
                                </div>
                            </div>

                        </md-input-container>
                        <md-input-container class="md-icon-float">
                            <label>Password</label>
                            <md-icon><i class="material-icons">vpn_key</i> </md-icon>
                            <input type="password" required name="password" ng-model="user.password">

                            <div ng-messages="loginform.password.$error">
                                <div ng-message="required"
                                     ng-show="(!loginForm.password.$valid) && (loginForm.password.$dirty || submitedLogin)">
                                    Required.</div>
                            </div>

                        </md-input-container>

                        <md-input-container>
                            <md-button class="md-raised md-primary" ng-click="login(loginForm)">Login</md-button>
                        </md-input-container>
                    </form>
                </md-card-content>
            </md-card>

        </div>
        <div hide-sm flex-sm="0" flex="15"></div>
    </div>


</div>
</div>
