

<header></header>
<md-content>

    <div layout="row"  layout-align="center">
        <menu active="new_suggestion"></menu>
     <div flex="5></div>
        <div flex="50">
            <md-card>
                <md-card-content>
                    <md-content class="md-padding">
                        <p ng-show="instanceError == 'before'">
                            Participatory Budgeting will be started from {{instance.start_time | date:'mediumDate'}}

                        </p>

                        <p ng-show="instanceError == 'after'">
                            Psst! Participatory Budgeting ended on {{instance.end_time | date:'mediumDate'}}
                        </p>
                        <md-progress-linear class="md-hue-1" ng-hide="instanceError" md-mode="determinate" ng-value="progress"></md-progress-linear>

                        <br>
                        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom ng-hide="instanceError">
                            <md-tab label="Lets' Begin!" ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">
                                    <div class="md-headline" tabindex="1">Let's Begin!</div>


                                    <ol>
                                    <md-list>

                                        <md-list-item>
                                            <li><u><a style="cursor:help" class="md-primary" ng-click='showInstructions($event)'>
                                                Read Instructions!</a>
                                            </u></li>
                                        </md-list-item>

                                        <md-list-item ng-repeat="instruction in instructions">
                                            <li> {{instruction.instruction}}</li>
                                        </md-list-item>

                                    </md-list>
                                    </ol>

                                    <md-button class="md-raised md-accent md-hue-4" ng-click="begin()"
                                               aria-label="Begin">
                                        Begin!
                                    </md-button>

                                </md-content>
                            </md-tab>

                            <md-tab label="About You"  ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">
                                    <div class="md-headline">About You</div>
                                    <form name="citizenForm" novalidate>

                                        <md-input-container class="md-icon-float">
                                            <label>Email</label>
                                            <md-tooltip md-direction="right">
                                                e.g. abc@xyz.com
                                            </md-tooltip>
                                            <md-icon><i class="material-icons">email</i>
                                            </md-icon>
                                            <input required name="email" type="email" ng-model="citizen.email">

                                            <div ng-messages="citizenForm.email.$error">
                                                <div ng-show="(!citizenForm.email.$valid) && (citizenForm.email.$dirty || submitedCitizen)">
                                                    <div ng-message="required" ng-show="citizenForm.email.$error.required">
                                                        Required.</div>
                                                    <div ng-message="email" ng-show="citizenForm.email.$error.email">
                                                        Invalid Email ID.</div>
                                                </div>

                                            </div>
                                            <div class="errors" ng-show="citizen.errors.email">
                                                <span ng-repeat="error in citizen.errors.email">
                                                    {{error}}
                                                </span>
                                            </div>
                                        </md-input-container>


                                        <md-input-container class="md-icon-float" >
                                            <!-- Use floating label instead of placeholder -->
                                            <label>Name</label>
                                            <md-icon><i class="material-icons">face</i></md-icon>
                                            <md-tooltip md-direction="right">
                                                e.g. John Doe
                                            </md-tooltip>
                                            <input required name="name" type="text" ng-model="citizen.name">

                                            <div ng-messages="citizenForm.name.$error">
                                                <div ng-show="(!citizenForm.name.$valid) && (citizenForm.name.$dirty || submitedCitizen)">
                                                    <div ng-message="required" ng-show="citizenForm.name.$error.required">
                                                        Required.</div>
                                                </div>
                                            </div>
                                            <div class="errors" ng-show="citizen.errors.name">
                                                <span ng-repeat="error in citizen.errors.name">
                                                    {{error}}
                                                </span>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float">

                                            <label>Mobile</label>

                                            <md-icon><i class="material-icons">phone</i></md-icon>
                                            <md-tooltip md-direction="right">
                                                e.g. 9922657745
                                            </md-tooltip>
                                            <input required name="mobile" type="text" ng-model="citizen.mobile">

                                            <div ng-messages="citizenForm.mobile.$error">
                                                <div ng-show="(!citizenForm.mobile.$valid) && (citizenForm.mobile.$dirty || submitedCitizen)">
                                                    <div ng-message="required" ng-show="citizenForm.mobile.$error.required">
                                                        Required.</div>
                                                </div>
                                            </div>
                                            <div class="errors" ng-show="citizen.errors.phone">
                                                <span ng-repeat="error in citizen.errors.phone">
                                                    {{error}}
                                                </span>
                                            </div>

                                        </md-input-container>

                                        <md-input-container class="md-icon-float">

                                            <label>Address</label>

                                            <md-icon><i class="material-icons">home</i></md-icon>
                                            <md-tooltip md-direction="right">
                                                e.g. B-45, Shanti Nivas, Kasba Peth, Pune 411008
                                            </md-tooltip>
                                            <input ng-enter="submitCitizen(citizenForm)" required name="address" type="text" ng-model="citizen.address">

                                            <div ng-messages="citizenForm.address.$error">
                                                <div ng-show="(!citizenForm.address.$valid) && (citizenForm.address.$dirty || submitedCitizen)">
                                                    <div ng-message="required" ng-show="citizenForm.address.$error.required">
                                                        Required.</div>
                                                </div>
                                            </div>
                                            <div class="errors" ng-show="citizen.errors.address">
                                                <span ng-repeat="error in citizen.errors.address">
                                                    {{error}}
                                                </span>
                                            </div>

                                        </md-input-container>


                                        <div layout="row" layout-wrap>
                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button tabindex="3" ng-click="previousTab(1)" class="md-fab md-primary"
                                                               aria-label="Use Android">
                                                        <md-icon><i class="material-icons">navigate_before</i> </md-icon>
                                                    </md-button>
                                                </md-input-container>

                                            </div>
                                            <div flex="60">

                                            </div>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button type=submit tabindex="2" ng-click="submitCitizen(citizenForm)" class="md-fab md-primary" aria-label="Use Android">

                                                        <md-icon><i class="material-icons">navigate_next</i> </md-icon>
                                                    </md-button>
                                                </md-input-container>
                                            </div>

                                        </div>

                                    </form>

                                </md-content>
                            </md-tab>
                            <md-tab label="Suggestion"  ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">
                                    <div class="md-headline">Suggestion</div>

                                    <form name="suggestionForm" novalidate>

                                        <div class="md-body-2"><i class="material-icons">place</i> Location</div>
                                        <md-input-container>
                                            <label>Zone</label>
                                            <md-tooltip md-direction="right">
                                                Select your zone from list.
                                            </md-tooltip>
                                            <md-select name="zone" ng-model="suggestion.zone"
                                                       md-on-open="loadZones()"
                                                       required>
                                            <md-option ng-value="zone" ng-repeat="zone in zones"
                                                value="{{zone.name}}"  >{{zone.name}}</md-option>

                                        </md-select>
                                        <div class="errors" ng-messages="suggestionForm.zone.$error"
                                             ng-if="suggestionForm.$dirty || submitedSuggestion">
                                            <div ng-message="required" ng-show="suggestionForm.zone.$error.required">Required</div>
                                        </div>
                                            <div class="errors" ng-show="suggestion.errors.zone_id">
                                                <span ng-repeat="error in suggestion.errors.zone_id">
                                                    {{error}}
                                                </span>
                                            </div>
                                        </md-input-container>


                                        <md-input-container>
                                            <label>Division</label>
                                            <md-tooltip md-direction="right">
                                              Select your division from list.
                                            </md-tooltip>
                                            <md-select  md-on-open="loadDivisions()" ng-change="showAreas()" name="division" ng-model="suggestion.division" required>
                                            <md-option ng-value="division" ng-repeat="division in divisions"
                                                      value="{{division.division_name}}" >{{division.division_name}}</md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="suggestionForm.division.$error"
                                             ng-if="suggestionForm.$dirty || submitedSuggestion">
                                            <div ng-message="required" ng-show="suggestionForm.division.$error.required">Required</div>
                                        </div>
                                            <div class="errors" ng-show="suggestion.errors.division_id">
                                                <span ng-repeat="error in suggestion.errors.division_id">
                                                    {{error}}
                                                </span>
                                            </div>
                                        </md-input-container>


                                        <md-input-container>
                                            <div class="md-body-2"> Areas</div>
                                            <div ng-repeat="zone in selectedZones">
                                                {{zone.areas}}
                                            </div>
                                        </md-input-container>


                                        <md-input-container class="md-icon-float">
                                            <label>Area</label>

                                            <md-icon><i class="material-icons">location_searching</i> </md-icon>
                                            <md-tooltip md-direction="right">
                                                e.g. Kasba Peth
                                            </md-tooltip>
                                            <input required name="area" type="text" ng-model="suggestion.area"/>

                                            <div ng-messages="suggestion.area.$error">
                                                <div ng-show="(!suggestionForm.area.$valid) && (suggestionForm.area.$dirty ||
                                                 submitedSuggestion)">
                                                    <div ng-message="required" ng-show="suggestionForm.area.$error.required">
                                                        Required.</div>

                                                </div>
                                            </div>
                                            <div class="errors" ng-show="suggestion.errors.area">
                                                <span ng-repeat="error in user.errors.area">
                                                    {{error}}
                                                </span>
                                            </div>

                                        </md-input-container>

                                        <div class="md-body-2"><i class="material-icons">build</i> Work Type</div>
                                        <md-input-container>
                                            <label>Work</label>
                                            <md-tooltip md-direction="right">
                                              Select work type from list.
                                            </md-tooltip>
                                            <md-select name="work" ng-model="suggestion.work" md-on-open="loadWorks()" required>
                                                <md-option ng-value="work" ng-repeat="work in works" value="{{work.function}}">{{work.function}}</md-option>
                                            </md-select>

                                            <div ng-messages="suggestion.suggestion.$error">
                                                <div ng-show="(!suggestionForm.suggestion.$valid) && (suggestionForm.suggestion.$dirty || submitedSuggestion)">
                                                    <div ng-message="required" ng-show="suggestionForm.suggestion.$error.required">
                                                        Required.</div>

                                                </div>
                                            </div>
                                            <div class="errors" ng-show="suggestion.errors.work_id">
                                                <span ng-repeat="error in suggestion.errors.work_id">
                                                    {{error}}
                                                </span>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float">
                                            <label>Suggestion</label>

                                            <md-icon><i class="material-icons">stars</i> </md-icon>
                                            <md-tooltip md-direction="right">
                                                Input detailed suggestion.
                                            </md-tooltip>
                                            <input required name="suggestion" type="text" ng-model="suggestion.suggestion"></input>

                                            <div ng-messages="suggestion.suggestion.$error">
                                                <div ng-show="(!suggestionForm.suggestion.$valid) && (suggestionForm.suggestion.$dirty || submitedSuggestion)">
                                                    <div ng-message="required" ng-show="suggestionForm.suggestion.$error.required">
                                                        Required.</div>

                                                </div>
                                            </div>
                                            <div class="errors" ng-show="suggestion.errors.suggestion">
                                                <span ng-repeat="error in suggestion.errors.suggestion">
                                                    {{error}}
                                                </span>
                                            </div>

                                        </md-input-container>

                                        <md-input-container class="md-icon-float">
                                                <label>Work Purpose</label>
                                            <md-tooltip md-direction="right">
                                                e.g. For the better future.
                                            </md-tooltip>
                                                <md-icon><i class="material-icons">thumb_up</i> </md-icon>
                                                <input ng-enter="submitSuggestion(suggestionForm)" required name="work_purpose" type="text" ng-model="suggestion.work_purpose"/>

                                                <div ng-messages="suggestion.work_purpose.$error">
                                                    <div ng-show="(!suggestionForm.work_purpose.$valid) && (suggestionForm.work_purpose.$dirty || submitedSuggestion)">
                                                        <div ng-message="required" ng-show="suggestionForm.work_purpose.$error.required">
                                                            Required.</div>

                                                    </div>
                                                </div>
                                            <div class="errors" ng-show="suggestion.errors.work_purpose">
                                                <span ng-repeat="error in suggestion.errors.work_purpose">
                                                    {{error}}
                                                </span>
                                            </div>

                                        </md-input-container>


                                        <div layout="row" layout-wrap>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button tabindex="5" ng-click="previousTab(selectedIndex)" class="md-fab md-primary" aria-label="Use Android">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_before_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>

                                            </div>
                                            <div flex="60">

                                            </div>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button tabindex="4" ng-click="submitSuggestion(suggestionForm)" aria-label="submit suggestion" class="md-fab md-primary">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_next_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>
                                            </div>

                                        </div>
                                    </form>


                                </md-content>
                            </md-tab>

                            <md-tab label="Voila!"  ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">

                                    <div ng-hide="submitedFinal == true">
                                    <p>
                                     Suggestion Receipt will be mailed to {{citizen.email}} .<br>

                                    </p>

                                        <div layout="row" layout-wrap>
                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button tabindex="7" ng-click="previousTab(selectedIndex)" class="md-fab md-primary" aria-label="Use Android">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_before_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>

                                            </div>
                                            <div flex="60">

                                            </div>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button  tabindex="6" ng-click="submitFinal(citizenForm, suggestionForm)"
                                                               class="md-fab md-accent" aria-label="Final submit">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_done_all_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>
                                            </div>

                                        </div>
                                    </form>

                                    </div>
                                    <div ng-show="submitedFinal == true">
                                        Thank you for making this city a better place to live!<br><br>
                                        The receipt has been sent to  {{citizen.email}}
                                    </div>
                                </md-content>
                            </md-tab>

                        </md-tabs>

                    </md-content>
                </md-card-content>
            </md-card>
        </div>
      <div hide-sm flex="20">
        </div>
    </div>
</md-content>


