
<md-content>

    <div layout="row" layout-wrap  layout-align="center center">
        <div flex="30">
        </div>
        <div flex="40">
            <md-card>
                <md-card-content>
                    <md-content class="md-padding">
                        <p ng-show="instanceError == 'before'">
                            Participatory Budgeting will be started from {{instance.start_time | date:'mediumDate'}}
                        </p>

                        <p ng-show="instanceError == 'after'">
                            Psst! Participatory Budgeting ended on {{instance.end_time | date:'mediumDate'}}
                        </p>
                        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom ng-hide="instanceError">
                            <md-tab label="Lets' Begin!" ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">
                                    <div class="md-headline">Let's Begin!</div>
                                    <br>

                                    <md-list>

                                        <md-list-item ng-repeat="instruction in instructions">
                                            <p> {{instruction.instruction}}</p>
                                        </md-list-item>

                                    </md-list>

                                    <md-button class="md-raised md-accent md-hue-4" ng-click="nextTab(0)"
                                               aria-label="Begin">
                                        Begin!
                                    </md-button>

                                </md-content>
                            </md-tab>

                            <md-tab label="About You"  ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">
                                    <div class="md-headline">About You</div>
                                    <form name="citizenForm" novalidate>

                                        <md-input-container class="md-icon-float">
                                            <label>Email</label>

                                            <md-icon><i class="material-icons">email</i></md-icon>
                                            <input required name="email" type="email" ng-model="citizen.email">

                                            <div ng-messages="citizenForm.email.$error">
                                                <div ng-show="(!citizenForm.email.$valid) && (citizenForm.email.$dirty || submitedCitizen)">
                                                    <div ng-message="required" ng-show="citizenForm.email.$error.required">
                                                        Required.</div>
                                                    <div ng-message="email" ng-show="citizenForm.email.$error.email">
                                                        Invalid Email ID.</div>
                                                </div>
                                            </div>

                                        </md-input-container>


                                        <md-input-container class="md-icon-float" >
                                            <!-- Use floating label instead of placeholder -->
                                            <label>Name</label>
                                            <md-icon><i class="material-icons">face</i></md-icon>
                                            <input required name="name" type="text" ng-model="citizen.name">

                                            <div ng-messages="citizenForm.name.$error">
                                                <div ng-show="(!citizenForm.name.$valid) && (citizenForm.name.$dirty || submitedCitizen)">
                                                    <div ng-message="required" ng-show="citizenForm.name.$error.required">
                                                        Required.</div>
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float">

                                            <label>Mobile</label>

                                            <md-icon><i class="material-icons">phone</i></md-icon>
                                            <input required name="mobile" type="text" ng-model="citizen.mobile">

                                            <div ng-messages="citizenForm.mobile.$error">
                                                <div ng-click="submitCitizen(citizenForm)" ng-show="(!citizenForm.mobile.$valid) && (citizenForm.mobile.$dirty || submitedCitizen)">
                                                    <div ng-message="required" ng-show="citizenForm.mobile.$error.required">
                                                        Required.</div>
                                                </div>
                                            </div>

                                        </md-input-container>


                                        <div layout="row" layout-wrap>
                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button ng-click="previousTab(1)" class="md-fab md-primary"
                                                               aria-label="Use Android">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_before_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>

                                            </div>
                                            <div flex="60">

                                            </div>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button ng-click="submitCitizen(citizenForm)" class="md-fab md-primary" aria-label="Use Android">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_next_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>
                                            </div>

                                        </div>

                                    </form>

                                </md-content>
                            </md-tab>
                            <md-tab label="Suggestion"  ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">
                                    <div class="md-headline">Suggestion</div>

                                    <form name="suggestionForm" novalidate>

                                        <div class="md-body-2"><i class="material-icons">place</i> Location</div>
                                        <md-input-container>
                                            <label>Zone</label>

                                            <md-select name="zone" ng-model="suggestion.zone" md-on-open="loadZones()" required>
                                            <md-option ng-value="zone" ng-repeat="zone in zones"
                                                value="{{zone.name}}"  >{{zone.name}}</md-option>

                                        </md-select>
                                        <div class="errors" ng-messages="suggestionForm.zone.$error" ng-if="myForm.$dirty || submitedSuggestion">
                                            <div ng-message="required">Required</div>
                                        </div>
                                            </md-input-container>


                                        <md-input-container>
                                            <label>Division</label>
                                            <md-select name="division" ng-model="suggestion.division" required>
                                            <md-option ng-value="division" ng-repeat="division in zones |  filter:suggestion.zone"
                                                      value="{{division.division_name}}" >{{division.division_name}}</md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="suggestionForm.division.$error" ng-if="myForm.$dirty || submitedSuggestion">
                                            <div ng-message="required">Required</div>
                                        </div>
                                            </md-input-container>

                                        <div class="md-body-2"><i class="material-icons">build</i> Work</div>
                                        <md-input-container>
                                            <label>Work</label>
                                            <md-select name="work" ng-model="suggestion.work" md-on-open="loadWorks()" required>
                                                <md-option ng-value="work" ng-repeat="work in works" value="{{work.function}}">{{work.function}}</md-option>
                                            </md-select>

                                            <div class="errors" ng-messages="suggestionForm.work.$error" ng-if="myForm.$dirty || submitedSuggestion">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float">
                                            <label>Suggestion</label>

                                            <md-icon><i class="material-icons">stars</i> </md-icon>
                                            <input required name="suggestion" type="text" ng-model="suggestion.suggestion"/>

                                            <div ng-messages="suggestion.suggestion.$error">
                                                <div ng-show="(!suggestion.suggestion.$valid) && (suggestion.suggestion.$dirty || submitedSuggestion)">
                                                    <div ng-message="required" ng-show="suggestion.suggestion.$error.required">
                                                        Required.</div>

                                                </div>
                                            </div>

                                        </md-input-container>


                                        <div layout="row" layout-wrap>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button ng-click="previousTab(selectedIndex)" class="md-fab md-primary" aria-label="Use Android">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_before_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>

                                            </div>
                                            <div flex="60">

                                            </div>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button ng-click="submitSuggestion(suggestionForm)" class="md-fab md-primary" aria-label="Use Android">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_next_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>
                                            </div>

                                        </div>
                                    </form>


                                </md-content>
                            </md-tab>

                            <md-tab label="Voila!"  ng-disabled="checkDisabled(selectedIndex)">
                                <md-content class="md-padding">

                                    <div ng-hide="submitedFinal == true">
                                    <p>
                                        {{citizen.email}}
                                    </p>

                                        <div layout="row" layout-wrap>
                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button ng-click="previousTab(selectedIndex)" class="md-fab md-primary" aria-label="Use Android">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_navigate_before_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>

                                            </div>
                                            <div flex="60">

                                            </div>

                                            <div flex="20">
                                                <md-input-container>
                                                    <md-button ng-click="submitFinal(citizenForm, suggestionForm)"
                                                               class="md-fab md-accent" aria-label="Final submit">
                                                        <md-icon
                                                                md-svg-src="images/icons/ic_done_all_24px.svg"></md-icon>
                                                    </md-button>
                                                </md-input-container>
                                            </div>

                                        </div>
                                    </form>

                                    </div>
                                    <div ng-show="submitedFinal == true">
                                        Thank you for making this city a better place to live!<br><br>
                                        The receipt has been sent to  {{citizen.email}}
                                    </div>
                                </md-content>
                            </md-tab>

                        </md-tabs>

                    </md-content>
                </md-card-content>
            </md-card>
        </div>
        <div flex="30">
        </div>
    </div>
</md-content>


