<div class="row">
    <div class="col-lg-3 col-md-3">

    </div>
    <div class="col-lg-6 col-md-6">
        <div class="text-center">

        </div>
    <div class="panel panel-default">
	  <div class="panel-heading">
			<h3 class="panel-title text-center">Login</h3>
	  </div>
	  <div class="panel-body">
          <div class="alert" ng-show="flash" ng-bind="flash"></div>


          <form action="" method="POST" class="form-horizontal" role="form" ng-submit="login()">
              <div class="form-group login-form-element">
                  <label for="inputEmail" class="col-sm-4 control-label">Email</label>
                  <div class="col-sm-7">
                      <i class="fa fa-user"></i>
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="email" required>
                  </div>
                  <div class="col-sm-2"></div>
              </div>
              <div class="form-group login-form-element">

                  <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                  <div class="col-sm-7">
                      <i class="fa fa-lock"></i>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password" required>
                  </div>
                  <div class="col-sm-2"></div>
              </div>

              <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-9">
                      <div class="checkbox">
                          <label>
                              <input type="checkbox"> Remember me
                          </label>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-3">
                      <button type="submit" class="btn btn-success"><i class="fa fa-unlock"></i> Login</button>
                  </div>
                  <div class="col-sm-offset-7">
                      Forget Password?
                  </div>
              </div>

          </form>




	  </div>
</div>
</div>
    <div class="col-lg-3 col-md-3">

    </div>
        </div>
