
<md-content>
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span flex="5" flex-sm="15" class="accent">
               <img src="images/corporation_logo.gif" height="50" width="50">
           </span>
            <span flex-sm="70" flex="70"> Participatory Budgeting  | <small>Pune Municipal Corporation</small>  </span>

            <span hide-sm flex="20"><span class="md-body-copy-2">{{name}}</span></span>
            <span hide-sm flex="5"><span class="md-body-copy-2"><md-button ng-click="logout()"><i class="material-icons">exit_to_app</i></md-button> </span></span>

        </h2>

    </md-toolbar>
</md-content>
