    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-primary md-hue-1">
            <h3 class="md-toolbar-tools">Menu</h3>
        </md-toolbar>

        <md-button ng-click="navigate('/citizen')" ng-class="activeClass('new_suggestion')" show-gt-md>
            <md-icon><i class="material-icons">note_add</i> </md-icon>New Suggestion
        </md-button>



        <!--<md-button href="/#/citizen/suggestionlist" ng-class="activeClass('suggestion_list')" show-gt-md>-->
            <!--<md-icon><i class="material-icons">view_list</i> </md-icon>My Suggestions-->
        <!--</md-button>-->
    </md-sidenav>
