    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-primary md-hue-1">
            <h3 class="md-toolbar-tools">Menu</h3>
        </md-toolbar>

        <md-button ng-click="navigate('/citizen')" ng-class="activeClass('new_suggestion')" show-gt-md>
            <md-icon><i class="material-icons">note_add</i> </md-icon>New Suggestion
        </md-button>



        <!--<md-button href="/#/citizen/suggestionlist" ng-class="activeClass('suggestion_list')" show-gt-md>-->
            <!--<md-icon><i class="material-icons">view_list</i> </md-icon>My Suggestions-->
        <!--</md-button>-->
    </md-sidenav>

    <br>
    <br>
    <md-card>

        <md-button href="https://nikhilvj.cartodb.com/viz/a0e3a1fe-5aa8-11e5-9c70-0ec6f7c8b2b9/embed_map"
                   class="md-subhead help" target="_blank">
            Ward and Prabhag Map
        </md-button>

        <md-divider></md-divider>

        <md-button href="http://nikhilvj.techydudes.net/files/janwani/janwani-pbstatus.html?ckattempt=2"
                   class="md-subhead" target="_blank">
            Track the Suggestios for 2015-2016
        </md-button>

        <md-divider></md-divider>

        <md-button href="http://pugpune.weebly.com/uploads/3/7/1/3/37139325/pb_menu_card.jpg"
                   class="md-subhead help" target="_blank">
            Menu of works
        </md-button>

    </md-card>