    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-primary md-hue-1">
            <h3 class="md-toolbar-tools">Menu</h3>
        </md-toolbar>

        <md-button ng-disabled="progress==0" ng-click="navigate('/citizen')" ng-class="activeClass('new_suggestion')" show-gt-md>
            <md-icon><i class="material-icons">note_add</i> </md-icon>New Suggestion
        </md-button>



        <!--<md-button href="/#/citizen/suggestionlist" ng-class="activeClass('suggestion_list')" show-gt-md>-->
            <!--<md-icon><i class="material-icons">view_list</i> </md-icon>My Suggestions-->
        <!--</md-button>-->
    </md-sidenav>

    <br>
    <br>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-button href="https://nikhilvj.cartodb.com/viz/5e089174-4aee-11e5-815c-0e0c41326911/embed_map"
                   class="md-subhead help" target="_blank">
           <md-icon><i class="material-icons">map</i></md-icon> Zone and Ward Map
        </md-button>

        <md-divider></md-divider>

        <md-button href="http://www.pcmcindia.gov.in/ward_info.php"
                   class="md-subhead help" target="_blank">
            <md-icon><i class="material-icons">info</i></md-icon> Zone and Ward Info
        </md-button>

        <md-divider></md-divider>

        <md-button href="http://203.129.224.138:8080/WardFacilitiesManagement/"
                   class="md-subhead help" target="_blank">
            <md-icon><i class="material-icons">account_balance</i></md-icon> Ward Amenities
        </md-button>

        <md-divider></md-divider>

        <md-button href="https://drive.google.com/open?id=0B-TbiydL7uW4S0F1M3A2eS1LeHc"
                   class="md-subhead help" target="_blank">
            <md-icon><i class="material-icons">list</i></md-icon> Menu of works
        </md-button>

    </md-sidenav>

