
<md-content>
    <md-card>
        <md-toolbar class="md-accent">
            <h3 class="md-toolbar-tools">
                Activity Status - 2015-16 </h3>
        </md-toolbar>

        <!--<md-button href="https://nikhilvj.cartodb.com/viz/5e089174-4aee-11e5-815c-0e0c41326911/embed_map"-->
                   <!--class="md-subhead" target="_blank">-->
            <!--<md-icon><i class="material-icons">map</i></md-icon>  Suggestions Submitted-->
        <!--</md-button>-->

        <!--<md-divider></md-divider>-->

        <!--<md-button href="https://drive.google.com/open?id=0B5v3zggft3cmSHhfWVh0TkozekU"-->
                   <!--class="md-subhead" target="_blank">-->
            <!--<md-icon> <i class="material-icons">view_list</i> </md-icon> Suggestions List-->
        <!--</md-button>-->

        <!--<md-divider></md-divider>-->

        <md-button href="https://poojashetty.cartodb.com/viz/0ca3ec7a-6033-11e5-a235-0e8dde98a187/public_map"
                   class="md-subhead" target="_blank">
            <md-icon><i class="material-icons">map</i> </md-icon> Suggestions List
        </md-button>



    </md-card>

    <md-card>

        <md-toolbar class="md-primary md-hue-4">
            <h4 class="md-toolbar-tools">  Need Help? Contact us!</h4>
        </md-toolbar>
        <md-button href="mailto:citizen.pb@pcmcindia.gov.in"
                   class="md-subhead help" target="_blank">
            <md-icon><i class="material-icons">email</i></md-icon> citizen.pb@pcmcindia.gov.in
        </md-button>
        <md-divider></md-divider>

        <md-button
                   class="md-subhead help" target="_blank">
            <md-icon><i class="material-icons">phone</i> </md-icon> SARATHI : 8888006666
        </md-button>

    </md-card>

    <!--<a twitter  data-lang="en" data-count='horizontal'-->
    <!--data-url='http://pmc.participatorybudgeting.in' data-via='PuneBudget'-->
    <!--data-size="large" data-text="Let's make our city awesome again through citizen participatory budgeting ! #Pune">-->

    <!--</a>-->
</md-content>
