<header></header>
<div layout="column" layout-wrap layout-align="center center">
    <p class="md-display-1">
        You're awesome! Let's build a better future, together!
    </p>


</div>
<div layout="row">
    <div flex="5">
    </div>
    <div flex="90">
        <md-card>
            <md-toolbar class="md-primary">
                <h3 class="md-toolbar-tools">All Suggestions List</h3>
            </md-toolbar>
            <md-card-content>
                <md-content class="md-padding">


                </md-content>
                <dtable options="options" rows="suggestions" class="material">
                    <column name="Zone Name">
                     {{$row.zone_name}}
                    </column>
                    <column name="Division Name">
                        {{$row.division_name}}
                    </column>
                    <column name="Suggestion" width="400" flex-gorw="3">
                        {{$row.suggestion}}
                    </column>
                    <column name="Work Purpose" width="400" flex-gorw="3">
                        {{$row.work_purpose}}
                    </column>

                </dtable>
                </md-content>

        </md-card>
    </div>
    <div flex="5"></div>
</div>